# <p><span style="color:blue">  Activity 2 - Notebook 2 - Soccer data  </span></p>

# <p><span style="color:blue">  Procedure followed : <br/> 1. Preprocessed and created Match csv. <br/> 2. Preprocessed and created Player csv. <br/> 3. Imported csv and answered questions. </span></p>

# <p><span style="color:blue"> This notebook imports from csv and answers questions.</span></p>

In [77]:
library(dplyr)

## <p><span style="color:red">----------Importing csv and answering questions.---------</span></p>

In [78]:
# player_appr_ovr_sum_gk_lg_cnt_df <- read.csv(file = '/media/23e97447-9196-4c8e-be28-b24a49d2548e/home/jayaraj/Study/DIC/lab2/soccer_csv/player_final.csv')
# team_all_final <- read.csv(file='/media/23e97447-9196-4c8e-be28-b24a49d2548e/home/jayaraj/Study/DIC/lab2/soccer_csv/team_final.csv')

player_appr_ovr_sum_gk_lg_cnt_df <- read.csv(file = './player_final.csv')
team_all_final <- read.csv(file='./team_final.csv')

In [79]:
player_appr_ovr_sum_gk_lg_cnt_df
team_all_final

       X      player_api_id overall_rating sum_gk player_name       appearances
1       1     2625          58              45    Patryk Rachwal,18 90
2       2     2625          58              45    Patryk Rachwal,18 90
3       3     2625          58              45    Patryk Rachwal,18 90
4       4     2625          58              45    Patryk Rachwal,18 90
5       5     2625          59              45    Patryk Rachwal,18 90
6       6     2625          60              45    Patryk Rachwal,18 90
7       7     2625          60             153    Patryk Rachwal,18 90
8       8     2625          61              45    Patryk Rachwal,18 90
9       9     2625          61              45    Patryk Rachwal,18 90
10     10     2625          61              45    Patryk Rachwal,18 90
11     11     2625          61              45    Patryk Rachwal,18 90
12     12     2625          61              45    Patryk Rachwal,18 90
13     13     2625          63             111    Patryk Rachwal,18 90
14     14     2625          63             153    Patryk Rachwal,18 90
15     15     2752          62              48    Diego Mainz       81
16     16     2752          62              48    Diego Mainz       81
17     17     2752          65              48    Diego Mainz       81
18     18     2752          65              48    Diego Mainz       81
19     19     2752          68              48    Diego Mainz       81
20     20     2752          69              48    Diego Mainz       81
21     21     2752          70              48    Diego Mainz       81
22     22     2752          70              48    Diego Mainz       81
23     23     2752          70              48    Diego Mainz       81
24     24     2752          70              48    Diego Mainz       81
25     25     2752          70              48    Diego Mainz       81
26     26     2752          70              48    Diego Mainz       81
27     27     2752          71              48    Diego Mainz       81
28     28     2752          71              48    Diego Mainz       81
29     29     2752          72              48    Diego Mainz       81
30     30     2752          72              48    Diego Mainz       81
⋮      ⋮      ⋮             ⋮              ⋮      ⋮                 ⋮
183949 183949 743720        50             53     Charles Pickel    1
183950 183950 743720        50             53     Charles Pickel    1
183951 183951 743720        50             53     Charles Pickel    1
183952 183952 743720        50             53     Charles Pickel    1
183953 183953 744907        51             52     Greg Taylor       1
183954 183954 744907        51             52     Greg Taylor       1
183955 183955 744907        51             52     Greg Taylor       1
183956 183956 744907        51             52     Greg Taylor       1
183957 183957 744907        51             52     Greg Taylor       1
183958 183958 744907        51             52     Greg Taylor       1
183959 183959 744907        53             57     Greg Taylor       1
183960 183960 744907        53             57     Greg Taylor       1
183961 183961 744907        53             57     Greg Taylor       1
183962 183962 744907        53             57     Greg Taylor       1
183963 183963 744907        53             57     Greg Taylor       1
183964 183964 746419        59             42     Francisco Afonso  2
183965 183965 746419        59             42     Francisco Afonso  2
183966 183966 748432        58             46     Fynn Arkenberg    2
183967 183967 748432        58             46     Fynn Arkenberg    2
183968 183968 750435        56             48     Rees Greenwood    1
183969 183969 750435        56             48     Rees Greenwood    1
183970 183970 750435        56             48     Rees Greenwood    1
183971 183971 750435        56             48     Rees Greenwood    1
183972 183972 750435        56             48     Rees Greenwood    1
183973 183973 750435        56             48     Rees Greenwood    1
183974 183974 750435        56             48     Rees Greenwood    1
183975 183975 750435        56             48     Rees Greenwood    1
183976 183976 750435        60             48     Rees Greenwood    1
183977 183977 750584        58             54     Alexandre Azevedo 1
183978 183978 750584        58             54     Alexandre Azevedo 1
       league_count
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
30     1
⋮      ⋮
183949 1
183950 1
183951 1
183952 1
183953 1
183954 1
183955 1
183956 1
183957 1
183958 1
183959 1
183960 1
183961 1
183962 1
183963 1
183964 1
183965 1
183966 1
183967 1
183968 1
183969 1
183970 1
183971 1
183972 1
183973 1
183974 1
183975 1
183976 1
183977 1
183978 1

    X   team_api_id team_long_name               sum_buildup
1    1  1601        Ruch Chorzów                 139
2    2  1773        Oud-Heverlee Leuven          153
3    3  1957        Jagiellonia Białystok        158
4    4  2033        S.C. Olhanense               147
5    5  2182        Lech Poznań                  176
6    6  2183        P. Warszawa                   NA
7    7  2186        Cracovia                     125
8    8  4049        Tubize                        NA
9    9  4064        Feirense                      NA
10  10  4087        Évian Thonon Gaillard FC     156
11  11  4170        US Boulogne Cote D'Opale      NA
12  12  6269        Novara                       179
13  13  6351        KAS Eupen                     NA
14  14  6367        Uniao da Madeira              NA
15  15  6391        GFC Ajaccio                  153
16  16  6403        FC Paços de Ferreira         142
17  17  6413        PEC Zwolle                   137
18  18  6421        Leixões SC                    NA
19  19  6433        Go Ahead Eagles              160
20  20  6493        AC Bellinzona                 NA
21  21  6547        FC Penafiel                  147
22  22  6601        FC Volendam                   NA
23  23  6631        FC Dordrecht                 134
24  24  7730        FC Lausanne-Sports           141
25  25  7788        SC Cambuur                   136
26  26  7794        SC Bastia                    174
27  27  7819        SM Caen                      157
28  28  7841        Rio Ave FC                   157
29  29  7842        Estoril Praia                174
30  30  7844        Vitória Guimarães            131
⋮   ⋮   ⋮           ⋮                            ⋮
270 270  10214      CD Nacional                  167
271 271  10215      Académica de Coimbra         150
272 272  10217      ADO Den Haag                 162
273 273  10218      Excelsior                    163
274 274  10219      RKC Waalwijk                 142
275 275  10228      SC Heerenveen                150
276 276  10229      AZ                           154
277 277  10233      Genoa                        184
278 278  10235      Feyenoord                    154
279 279  10238      Vitória Setúbal              149
280 280  10242      ES Troyes AC                 148
281 281  10243      FC Zürich                    157
282 282  10249      Montpellier Hérault SC       162
283 283  10251      Hibernian                    148
284 284  10252      Aston Villa                  170
285 285  10260      Manchester United            134
286 286  10261      Newcastle United             152
287 287  10264      SC Braga                     145
288 288  10265      Wisła Kraków                 135
289 289  10267      Valencia CF                  116
290 290  10268      Elche CF                     171
291 291  10269      VfB Stuttgart                168
292 292  10278      Hércules Club de Fútbol      154
293 293  10281      Real Valladolid              153
294 294 108893      AC Arles-Avignon             156
295 295 158085      FC Arouca                    174
296 296 177361      Termalica Bruk-Bet Nieciecza  NA
297 297 188163      Tondela                       NA
298 298 208931      Carpi                        190
299 299 274581      Royal Excel Mouscron         150
    sum_chance_creation sum_defence sum_goals
1   186                 175         280
2   157                 137         126
3   163                 210         287
4   165                 155         138
5   196                 160         372
6   180                 175         184
7   168                 205         235
8    NA                  NA          35
9    NA                  NA          27
10  180                 165         180
11  165                 200          31
12  172                 151          34
13  160                 155          28
14   NA                  NA          27
15  179                 146          37
16  170                 150         292
17  165                 181         204
18  165                  90          55
19  132                 141          74
20  175                 150         128
21  146                 121          29
22   NA                  NA          38
23  176                 164          24
24  164                 165          99
25  159                 138         119
26  156                 210         165
27  165                 205         220
28  180                 153         248
29  139                 150         167
30  179                 177         300
⋮   ⋮                   ⋮           ⋮
270 165                 156         332
271 172                 151         240
272 181                 173         366
273 162                 106         154
274 159                 150         153
275 171                 183         470
276 185                 184         492
277 182                 154         392
278 165                 160         489
279 165                 140         238
280 150                 140          71
281 165                 163         468
282 160                 210         344
283 200                 200         259
284 185                 145         335
285 200                 163         582
286 195                 161         324
287 166                 150         398
288 183                 205         332
289 185                 175         484
290 165                 158          65
291 200                 175         415
292 178                 160          36
293 172                 161         170
294 141                 158          21
295 160                 113         101
296  NA                  NA          33
297  NA                  NA          34
298 160                 141          37
299 150                 140          71

###  <p><span style="color:red">final result for 2. Which are the top 10 goalkeepers by sum of gk attributes?</span></p>

In [80]:
plyrs_with_max_sum_gk <- select(.data = player_appr_ovr_sum_gk_lg_cnt_df, player_api_id,player_name,sum_gk) %>% group_by(player_api_id) %>% filter(sum_gk == max(sum_gk)) 
temp = data.frame(arrange(plyrs_with_max_sum_gk,desc(sum_gk)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   player_api_id player_name       sum_gk
1   30717        Gianluigi Buffon  449
2   39989        Gregory Coupet    447
3   30859        Petr Cech         445
4   30657        Iker Casillas     442
5   27299        Manuel Neuer      440
6   30989        Julio Cesar       438
7   24503        Sebastian Frey    437
8   30726        Edwin van der Sar 436
9  182917        David De Gea      429
10  30660        Pepe Reina        428

###  <p><span style="color:red">final result for 4. Which are the top 10 players by number of leagues they played in?</span></p>

In [81]:
plyrs_with_max_lg_count <- select(.data = player_appr_ovr_sum_gk_lg_cnt_df, player_api_id,player_name,league_count) %>% group_by(player_api_id) %>% filter(league_count == max(league_count)) 
temp = data.frame(arrange(plyrs_with_max_lg_count,desc(league_count)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   player_api_id player_name           league_count
1   42119        Gelson Fernandes      6
2  116750        Ricky van Wolfswinkel 5
3  178538        Filip Djuricic        5
4   22543        Radamel Falcao        4
5   24123        Jonathan De Guzman    4
6   25816        Almen Abdi            4
7   26434        Ibrahim Afellay       4
8   26489        Edson Braafheid       4
9   26675        Eljero Elia           4
10  30477        Danijel Pranjic       4

In [ ]:
  player_api_id           player_name appearances league_count
           <int>                 <chr>       <int>        <int>
1          42119      Gelson Fernandes         175            6
2         116750 Ricky van Wolfswinkel         151            5
3         178538        Filip Djuricic         105            5
4          22543        Radamel Falcao         147            4
5          24123    Jonathan De Guzman         130            4
6          25816            Almen Abdi          68            4
7          26434       Ibrahim Afellay          94            4
8          26489       Edson Braafheid          89            4
9          26675           Eljero Elia         141            4
10         30477       Danijel Pranjic          63            4

###  <p><span style="color:red">final result for 1. Which are the top 10 players by overall rating? </span></p>

In [82]:
plyrs_with_max_ovr_all <- select(.data = player_appr_ovr_sum_gk_lg_cnt_df, player_api_id,player_name,overall_rating) %>% group_by(player_api_id) %>% filter(overall_rating == max(overall_rating)) 
temp = data.frame(arrange(plyrs_with_max_ovr_all,desc(overall_rating)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30717         Gianluigi Buffon  93
3  30829         Wayne Rooney      93
4  30893         Cristiano Ronaldo 93
5  39854         Xavi Hernandez    92
6  39989         Gregory Coupet    92
7  30626         Thierry Henry     91
8  30627         John Terry        91
9  30657         Iker Casillas     91
10 30723         Alessandro Nesta  91

###  <p><span style="color:red">final result for 3. Which are the top 10 players by number of appearances (with any team they played with)? </span></p>

In [66]:
plyrs_with_max_appncs <- select(.data = player_appr_ovr_sum_gk_lg_cnt_df, player_api_id,player_name,appearances) %>% group_by(player_api_id) %>% filter(appearances == max(appearances)) 
temp = data.frame(arrange(plyrs_with_max_appncs,desc(appearances)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   player_api_id player_name          appearances
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

In [ ]:
 player_api_id          player_name appearances league_count
           <int>                <chr>       <int>        <int>
1          31293       Steve Mandanda         300            1
2          41097     Stephane Ruffier         294            1
3          33764 Gorka Iraizoz Moreno         286            1
4          42422     Samir Handanovic         286            1
5          26295          Hugo Lloris         282            2
6          31465           Tim Howard         282            1
7          31432             Joe Hart         275            1
8          26168      Cedric Carrasso         268            1
9          26399        Daniel Congre         262            1
10         94550       Moussa Sissoko         260            2

In [83]:
glimpse(team_all_final)

Observations: 299
Variables: 7
$ X                   <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, ...
$ team_api_id         <int> 1601, 1773, 1957, 2033, 2182, 2183, 2186, 4049,...
$ team_long_name      <fctr> Ruch Chorzów, Oud-Heverlee Leuven, Jagiellonia...
$ sum_buildup         <int> 139, 153, 158, 147, 176, NA, 125, NA, NA, 156, ...
$ sum_chance_creation <int> 186, 157, 163, 165, 196, 180, 168, NA, NA, 180,...
$ sum_defence         <int> 175, 137, 210, 155, 160, 175, 205, NA, NA, 165,...
$ sum_goals           <int> 280, 126, 287, 138, 372, 184, 235, 35, 27, 180,...

In [84]:
select(.data = team_all_final, team_api_id,team_long_name ,sum_buildup )  #%>% group_by(team_api_id)# %>% filter(sum_buildup == max(sum_buildup))

    team_api_id team_long_name               sum_buildup
1   1601        Ruch Chorzów                 139
2   1773        Oud-Heverlee Leuven          153
3   1957        Jagiellonia Białystok        158
4   2033        S.C. Olhanense               147
5   2182        Lech Poznań                  176
6   2183        P. Warszawa                   NA
7   2186        Cracovia                     125
8   4049        Tubize                        NA
9   4064        Feirense                      NA
10  4087        Évian Thonon Gaillard FC     156
11  4170        US Boulogne Cote D'Opale      NA
12  6269        Novara                       179
13  6351        KAS Eupen                     NA
14  6367        Uniao da Madeira              NA
15  6391        GFC Ajaccio                  153
16  6403        FC Paços de Ferreira         142
17  6413        PEC Zwolle                   137
18  6421        Leixões SC                    NA
19  6433        Go Ahead Eagles              160
20  6493        AC Bellinzona                 NA
21  6547        FC Penafiel                  147
22  6601        FC Volendam                   NA
23  6631        FC Dordrecht                 134
24  7730        FC Lausanne-Sports           141
25  7788        SC Cambuur                   136
26  7794        SC Bastia                    174
27  7819        SM Caen                      157
28  7841        Rio Ave FC                   157
29  7842        Estoril Praia                174
30  7844        Vitória Guimarães            131
⋮   ⋮           ⋮                            ⋮
270  10214      CD Nacional                  167
271  10215      Académica de Coimbra         150
272  10217      ADO Den Haag                 162
273  10218      Excelsior                    163
274  10219      RKC Waalwijk                 142
275  10228      SC Heerenveen                150
276  10229      AZ                           154
277  10233      Genoa                        184
278  10235      Feyenoord                    154
279  10238      Vitória Setúbal              149
280  10242      ES Troyes AC                 148
281  10243      FC Zürich                    157
282  10249      Montpellier Hérault SC       162
283  10251      Hibernian                    148
284  10252      Aston Villa                  170
285  10260      Manchester United            134
286  10261      Newcastle United             152
287  10264      SC Braga                     145
288  10265      Wisła Kraków                 135
289  10267      Valencia CF                  116
290  10268      Elche CF                     171
291  10269      VfB Stuttgart                168
292  10278      Hércules Club de Fútbol      154
293  10281      Real Valladolid              153
294 108893      AC Arles-Avignon             156
295 158085      FC Arouca                    174
296 177361      Termalica Bruk-Bet Nieciecza  NA
297 188163      Tondela                       NA
298 208931      Carpi                        190
299 274581      Royal Excel Mouscron         150

###  <p><span style="color:red">final result for 5. Which are the top 10 teams by sum of build up play attributes? </span></p>

In [85]:
team_max_sum_buildup <- select(.data = team_all_final, team_api_id,team_long_name ,sum_buildup ) # %>% group_by(team_api_id) %>% filter(sum_buildup == max(sum_buildup)) 
temp = data.frame(arrange(team_max_sum_buildup,desc(sum_buildup)))
temp1 <- distinct(temp)
slice(temp1,1:10)
### one value with 189 sum missing ... its team_api_id = 8033 .. which also has an additional higher sum_build up value.

   team_api_id team_long_name             sum_buildup
1    9804      Torino                     209
2    8600      Udinese                    205
3    8194      Fortuna Düsseldorf         198
4    8033      Podbeskidzie Bielsko-Biała 193
5    8245      Korona Kielce              192
6    8024      Widzew Łódź                190
7    8244      Widzew Łódź                190
8  208931      Carpi                      190
9    9830      FC Nantes                  189
10   7943      Sassuolo                   188

###  <p><span style="color:red">final result for 6. Which are the top 10 teams by sum of chance creation attributes? </span></p>

In [86]:
team_max_sum_chnc_creatn <- select(.data = team_all_final, team_api_id,team_long_name ,sum_chance_creation ) ##%>% group_by(team_api_id) %>% filter(sum_chance_creation == max(sum_chance_creation)) 
temp = data.frame(arrange(team_max_sum_chnc_creatn,desc(sum_chance_creation)))
temp1 <- distinct(temp)
slice(temp1,1:10)

# team_max_sum_buildup <- select(.data = team_all_final, team_api_id,team_short_name,sum_buildup ) # %>% group_by(team_api_id) %>% filter(sum_buildup == max(sum_buildup)) 
# temp = data.frame(arrange(team_max_sum_buildup,desc(sum_buildup)))
# temp1 <- distinct(temp)
# slice(temp1,1:10)

   team_api_id team_long_name      sum_chance_creation
1  8543        Lazio               220
2  8697        SV Werder Bremen    216
3  9875        Napoli              215
4  8178        Bayer 04 Leverkusen 210
5  8191        Burnley             210
6  8344        Cardiff City        210
7  8456        Manchester City     210
8  8485        Aberdeen            210
9  8548        Rangers             210
10 8586        Tottenham Hotspur   210

###  <p><span style="color:red">final result for 7. Which are the top 10 teams by sum of defense attributes? </span></p>

In [87]:
team_max_sum_defence <- select(.data = team_all_final, team_api_id,team_long_name ,sum_defence ) #%>% group_by(team_api_id) %>% filter(sum_defence == max(sum_defence)) 
temp = data.frame(arrange(team_max_sum_defence,desc(sum_defence)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   team_api_id team_long_name        sum_defence
1  1957        Jagiellonia Białystok 210
2  7794        SC Bastia             210
3  8021        Zagłębie Lubin        210
4  8197        Leicester City        210
5  8344        Cardiff City          210
6  8350        1. FC Kaiserslautern  210
7  8466        Southampton           210
8  8481        AS Nancy-Lorraine     210
9  8483        Blackpool             210
10 8521        Stade Brestois 29     210

###  <p><span style="color:red">final result for 8. Which are the top 10 teams by number of scored goals? </span></p>

In [88]:
team_max_sum_goals <- select(.data = team_all_final, team_api_id,team_long_name ,sum_goals ) #%>% group_by(team_api_id) %>% filter(sum_goals == max(sum_goals)) 
temp = data.frame(arrange(team_max_sum_goals,desc(sum_goals)))
temp1 <- distinct(temp)
slice(temp1,1:10)

   team_api_id team_long_name    sum_goals
1   8634       FC Barcelona      849
2   8633       Real Madrid CF    843
3   9925       Celtic            695
4   9823       FC Bayern Munich  653
5   8640       PSV               652
6   8593       Ajax              647
7   9931       FC Basel          619
8   8456       Manchester City   606
9   8455       Chelsea           583
10 10260       Manchester United 582

# <p><span style="color:red">------------END OF ACTIVITY 2-----------------</span></p>